body {
  background-color: #000;
  color: #fff;
  font-family: Helvetica;
}

.displayBox {
  border: 5px solid #eee;
  border-radius: 5px;
  padding: 5px;
}

.subbox {
  border: 5px solid #eee;
  border-radius: 5px;
  padding: 5px;
}

.nominal {
  border-color: #0f0;
}

.warning {
  border-color: #ff0;
}

.alert {
  border-color: #f00;
}

.normal {
  border-color: #888;
}

.shadow {
  border: none;
}
